main{
  min-height: 80vh;
}

img {
  max-width: 100%;
  height: auto;
}

#navbarScroll {
  margin-top: 10px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  * {
    box-sizing: border-box;
  }

  #col-1 {
    width: 50%;
  }

  #col-2 {
    width: 50%;
  }

  #col-3 {
    width: 50%;
  }

}